html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/*new add*/
.wasticky {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.nbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    color: white;
}

.brand {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 20vw;
}

.navitems {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

.item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.banner {
    width: 100vw;
    height: 70vh;
    background-image: url('../images/image2.png');
}

.footer {
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 15vh;
}

.fcontent {
    font-size: 18px;
    color: white;
}